/****************************
********* Below 1080px **********
****************************/
@media (max-width: 67.5em) {
  .search {
    width: 50%;
  }
  .title {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .result,
  .postal-code {
    font-size: 1.6rem;
  }
  .btn {
    padding: 0 2rem;
  }
}
/****************************
********* Below 936px **********
****************************/
@media (max-width: 58.5em) {
  .results-container {
    width: 90%;
    gap: 2rem;
  }
  .result-container:not(:last-child):after {
    left: 140%;
  }
  input {
    padding-right: 0;
  }
  input::placeholder {
    font-size: 1.4rem;
  }
}
/****************************
********* Below 700px **********
****************************/
@media (max-width: 43.75em) {
  html {
    font-size: 56.25%;
  }
  h1 {
    font-size: 2.5rem;
  }
  input {
    padding-left: 1.5rem;
  }
}
.result,
.postal-code {
  font-size: 1.4rem;
}
/****************************
********* Below 580px **********
****************************/
@media (max-width: 36.25em) {
  .search {
    width: 60%;
  }
  .results-container,
  .error-container {
    padding: 2rem 2.5rem 2rem 1.5rem;
    height: 12rem;
    top: 14%;
  }

  .title {
    font-size: 1rem;
    letter-spacing: 0;
  }
  .result,
  .postal-code {
    font-size: 1.2rem;
  }
}
/****************************************
********* Below 488px (mobile) **********
*****************************************/
@media (max-width: 30.5em) {
  html {
    font-size: 62.5%;
  }
  h1 {
    padding-top: 2.5rem;
  }
  .search {
    width: 90%;
    margin-top: 1rem;
  }
  input {
    padding: 1.5rem 0 1.5rem 1rem;
  }
  .results-container {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0;
    height: auto;
    justify-items: center;
    align-items: center;
    top: 1%;
    padding: 0 0;
  }
  .error-container {
    top: 9%;
    padding: 0 0;
    height: 10rem;
  }
  .error-msg {
    font-size: 1.5rem;
  }
  .result-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .result-container:not(:last-child):after {
    display: none;
  }
  .title {
    font-size: 0.8rem;
    margin-top: 0.1rem;
  }
  .result,
  .postal-code {
    font-size: 1.2rem;
    margin-top: 0.4rem;
  }
}
/****************************************
********* Below 380px (mobile) **********
*****************************************/
@media (max-width: 23.75em) {
  .section-top {
    background-image: url(/images/pattern-bg-mobile.png);
  }
  input::placeholder {
    font-size: 1.2rem;
  }
}
/****************************************
********* Below 380px (mobile) **********
*****************************************/
@media (max-width: 19.75em) {
  input::placeholder {
    font-size: 1rem;
  }
}
